<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container">
      <div class="">
        <h4><%= blog.title %></h4>

        <img src="../<%= blog.coverImageUrl %>" height="700px" width="700px" />
        <pre><%= blog.body %></pre>
      </div>
      <div id="userDetials">
        <h5>
          Written by:
          <img
            id="profileImage"
            src="<%= blog.createdBy.profileImageUrl %>"
          /><%= blog.createdBy.fullname %>
        </h5>
      </div>
    </div>
    <% if (locals.user) { %>
    <div class="container">
      <div class="mb-3">
        <form method="post" action="/blog/comment/<%= blog._id %>">
          <input
            type="text"
            class="form-control mb-2"
            name="content"
            id="content"
          />
          <button type="submit" class="btn btn-sm btn-info">Comment</button>
        </form>
      </div>
    </div>

    <% } %>
    <div class="container">
      <h4>Comments <%= comments.length %></h4>
    </div>

    <% if (locals.comments) { %>
    <div class="container">
      <div class="mb-3">
        <% comments.forEach(comment => { %>
          <div>
            <h5><img src="<%= comment.createdBy.profileImageUrl %>" width="30px" height="30px"> <%= comment.createdBy.fullname %></h5>
          </div>
        <pre><%= comment.content %></pre>
        <% }) %>
      </div>
    </div>
    <% } %> <%- include('./partials/scripts') %>
  </body>
  <style>
    #userDetials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    #profileImage {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
  </style>
</html>
